{% extends 'base.html.twig' %}

{% block body%}

	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="userData">
			<h4>User:</h4>
			<p>{{ app.user.username }}</p>
			<br>
			<br>
			<h4>Lokacija:</h4>
			<p> M. Divalta 92, Osijek</p>
			<p></p>
			<p></p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="formContainer" name="form">

			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>

		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="col-12" id="formContainer" style="margin-bottom: 20px;">
					<h3>Ukupno režije:</h3>
					<br>
					<h4><span class="total">0.00</span></h4>
				</div>


				<div class="col-12" id="formContainer">
					<h3>Pomoćni kalkulator:</h3>
					<br>
					<h4 class="form-control">1453,26</h4>
					<h4 class="form-control">1453,26</h4>
					<h4 class="form-control">1453,26</h4>
					<h4 class="form-control">1453,26</h4>
					<h4 class="form-control">1453,26</h4>
					<h4>Ukupno:<h4 class="form-control">1453,26</h4></h4>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}

{% endblock %}
